<!-- login.component.html -->
<mat-card class="login-card">
  <div class="login-form">
    <mat-card-header><mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <form [formGroup] ="loginForm" (ngSubmit)="redirectToHome()">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter your email" formControlName="email" type="text" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Enter your password" type="password" formControlName="password" required>
      </mat-form-field>
      <button type="submit" class="btn btn-primary">Submit</button><br>
      <p>Don't have an account? <a href="/register">Create an account</a></p>
    </form>
  </div>
</mat-card>