<mat-card class="register-card">
  <div class="register-form">
    <mat-card-title>Register</mat-card-title>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput class="input" formControlName="name" placeholder="Enter your name" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput class="input" formControlName="email" placeholder="Enter your email address" />
      </mat-form-field>
      <div *ngIf="emailInvalid" class="error-message">Please enter a valid email address.</div>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput class="input" type="password" formControlName="password" placeholder="Enter your password" />
      </mat-form-field>
      <div *ngIf="passwordInvalid" class="error-message">
        Password must contain at least one uppercase letter, one special character & be at least 8 characters long.
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input matInput class="input" type="password" formControlName="confirmPassword"
          placeholder="Re-enter your password" />
      </mat-form-field>
      <div *ngIf="confirmPasswordInvalid" class="error-message">Passwords do not match.</div>

      <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary">Submit</button>
      <br>
      <p>Already have an account? <a href="/login">Click here to login</a></p>
    </form>
  </div>
</mat-card>